configuration {
  font: "JetBrainsMono Nerd Font 11";
  line-margin: 10;

  display-ssh:    "";
  display-run:    "";
  display-drun:   "";
  display-window: "";
  display-combi:  "";
  show-icons:     true;
}

@theme "~/.config/rofi/themes/black.rasi"

listview {
  lines: 5;
  columns: 3;
}

window {
  width: 40%;
}
